version: "3.5"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: app
      SERVICE_TAGS: dev
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html/
      - ./.docker/php/laravel.ini:/usr/local/etc/php/conf.d/laravel.ini
    networks:
      - app-network
  
  webserver:
    image: nginx:alpine
    container_name: webserver
    restart: unless-stopped
    tty: true
    ports:
      - "81:80"
      - "443:443"
    volumes:
      - ./:/var/www/html/
      - ./.docker/nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - app-network

  db:
    image: mysql:5.7.32 
    container_name: db
    restart: unless-stopped
    tty: true 
    ports:
      - "3306:3306"
    environment:
      MSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: senhacomplexa
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - dbdata:/var/www/html/
      - ./.docker/mysql/my.conf:/etc/mysql/my.cnf


networks:
  app-network:
    driver: bridge
volumes:
  dbdata:
    driver: local

